[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
ipython = "*"
ipykernel = "*"
lxml = "*"
html5lib = "*"
beautifulsoup4 = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"

[dev-packages]
ipykernel = "*"
notebook = "*"

[requires]
python_version = "3"
